:root {
    --color-principal : rgb(171, 138, 208);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: var(--color-principal);
}

a {
    color: var(--color-principal);
    text-decoration: none;
}

/* Header */
header {
    margin-top: 50px;
    text-align: center;
}


/* Contenedor */
.contenedor {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* Publicaciones */
.proyecto {
    border: 1px solid var(--color-principal);
    padding: 20px;  
    border-radius: 5px;
    margin-bottom: 10px;
    width: 1000px;
    height: 500px;
}

.contenido {
    display: flex;
    height: 30%;
    justify-content: space-between;
    align-items: end;
}

.imagen-publicacion {
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../imagenes/sitio-moderno.jpg);
    object-fit: cover;
}

.titulo-publicacion h2 {
    font-size: 30px;
    font-weight: 600;
}

/* Boton */
.boton {
    border: 1px solid var(--color-principal);
    padding: 10px;
    border-radius: 5px;
}
.boton:hover {
    background: var(--color-principal);
    color: white;
}