nav {
	background-color: #1e90ff;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	position: relative;
}

a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #1e90ff;
}

ul ul li {
	display: block;
}

li:hover ul {
	display: inherit;
}

li:hover a {
	background-color: #007FFF;
}

#menu1 {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	

li.menujuegos {
	display: inline-block;
	position: relative;
}

a.menujuegos {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

main {
	background-color: #7b9ee2;
	border-radius: 5px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#menu2 {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	
#body1 {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	
