nav {
	background-color: #1e90ff;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	position: relative;
}

a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #1e90ff;
}

ul ul li {
	display: block;
}

li:hover ul {
	display: inherit;
}

li:hover a {
	background-color: #007FFF;
}

#menu1 {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	

li.menujuegos {
	display: inline-block;
	position: relative;
}

a.menujuegos {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

main {
	background-color: #7b9ee2;
	border-radius: 5px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#menu2 {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	
#body1 {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}	

/**Css de prueba**/


.text {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.input_copy_wrapper{
    width: 450px;
    padding: 50px;
    margin : 0 auto;
}

.input_copy {
    padding: 15px 25px;
    background: #eee;
    border: 2px solid #aaa;
    color: #000;
    font-size: .8em;
}

.input_copy .icon {
    display: block;
    max-width: 30px;
    cursor: pointer;
    float: right;
}

.input_copy .icon img{
    max-width: 30px;
}

.input_copy .text {
    display: inline-block;
    overflow: hidden;
}

.input_copy_selected {
    background: #3daee9;
    color:#fff;
}

.tooltip {
  position: absolute;
  opacity: 0;
  top: 135px;
  right: 360px;
  background-color: #1ab394;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-transform: none;
  transition: all 0.75s ease;
  width: 190px;
}

.tooltip.active {
  opacity: 1;
}

.tablacodigo td {
	border:1px solid black;
} 
.tablacodigo th {
	border: 1px solid black;
}


