/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
body{background-color:black;}
#ardoraMain{ font-family:Verdana, Geneva, sans-serif; color: #F0F0F0; padding: 5px; position: relative;}
#ardoraEnu{ font-size: 20px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: left;
border-bottom:thin;border-bottom-style:solid;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#buttonOk{ position: absolute; height: 70px; width: 70px; bottom: 0px; cursor: pointer;border-style: solid; border-width: 1px;
-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);}
#ardoraTabCanvas{width: 70px;border-style: solid;border-width: 1px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;border-radius:4px;-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50,50,50,0.5);height:147px;} 
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;top:0; left:5px;}
#ardoraAct{position: relative; margin-right: 10px; padding: 5px; float: left;
}
#ardoraTab{width: 70px; height:320px;position: relative; visibility: visible;padding:5px;float:left;}
#ardoraAct{ width:580px;height:400px;overflow: hidden;}
#tableL{display: table;height: 100%;width:260px;position: relative;left:10px;float:left;}
#tableR{display: table;height: 100%;width:260px;position: relative;left:50px;float:left;}
.cell{display: table-cell;vertical-align: middle;}
#contenL, #contenR{height:auto;background:#FFFDFD;padding: 5px 5px 5px 10px;text-align: justify;font-size:12px;
border-style:solid;border-width:thin;border-radius:4px;
-webkit-box-shadow: inset 4px 4px 4px 1px rgba(10, 10, 10, 0.4);box-shadow: inset 4px 4px 4px 1px rgba(10, 10, 10, 0.4);
}
#contenL img{margin-top: 5px;}#contenR img{margin-top: 5px;} .butt{cursor:pointer}
#ardoraAutor{padding-left:5px; clear:both; font-size: 10px; }
